<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ch18</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <description>회사메일주소</description>
    <param-name>email</param-name>
    <param-value>infinity@gmail.com</param-value>
  </context-param>
  <context-param>
    <description>데이터소스</description>
    <param-name>datasource</param-name>
    <param-value>jdbc/mysql</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>InitParamServlet</display-name>
    <servlet-name>InitParamServlet</servlet-name>
    <servlet-class>kr.ac.param.InitParamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitParamServlet</servlet-name>
    <url-pattern>/InitParamServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadServlet</display-name>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>kr.ac.param.UploadServlet</servlet-class>
    <init-param>
      <description>업로드 폴더</description>
      <param-name>upfolder</param-name>
      <param-value>META-INF/upload</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/UploadServlet</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>kr.ac.listener.CompanyServletContextListener</listener-class>
  </listener>
  <filter>
    <display-name>EncodingFilter</display-name>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>kr.ac.filter.EncodingFilter</filter-class>
    <init-param>
      <description>한글처리인코딩</description>
      <param-name>encoding</param-name>
      <param-value>euc-kr</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>LoginFilter</display-name>
    <filter-name>LoginFilter</filter-name>
    <filter-class>kr.ac.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/filter.jsp</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>AuditFilter</display-name>
    <filter-name>AuditFilter</filter-name>
    <filter-class>kr.ac.filter.AuditFilter</filter-class>
  </filter>
</web-app>